<footer class="page-footer">
    <div class="footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6 footer-column onscroll-animate">
                            <h4>Working Time</h4>
                            <p>
                                Monday Friday: <span class="highlight">08:00 am - 08:30 pm</span><br>
                                Saturday Sunday: <span class="highlight">10:00 am - 16:30 pm</span>
                            </p>
                            <div class="margin-40"></div>
                        </div>
                        <div class="col-sm-6 footer-column onscroll-animate" data-delay="400">
                            <h4>Follow Us</h4>
                            <div class="social-icon-container">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </div>
                            <div class="social-icon-container">
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <div class="margin-40"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6 footer-column onscroll-animate" data-delay="500">
                            <h4>Contact Us</h4>
                            <div class="icon-opening-wrapper">
                                <div class="icon-opening-container">
                                    <p class="icon-opening"><i class="fa fa-phone"></i></p>
                                    <p class="icon-opening-content">+1 (204) 111-5441</p>
                                </div>
                            </div>
                            <div class="icon-opening-wrapper">
                                <div class="icon-opening-container">
                                    <p class="icon-opening"><i class="fa fa-location-arrow"></i></p>
                                    <p class="icon-opening-content">77, St. Paul<br>Winnipeg - MB</p>
                                </div>
                            </div>
                            <div class="icon-opening-wrapper">
                                <div class="icon-opening-container">
                                    <p class="icon-opening"><i class="fa fa-envelope"></i></p>
                                    <p class="icon-opening-content">chocoball@chocoball.ca</p>
                                </div>
                            </div>
                            <div class="margin-40"></div>
                        </div>
                        <div class="col-sm-6 footer-column onscroll-animate" data-delay="500">
                            <div class="margin-40"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .footer-darl -->
</footer>
