
	<div id="all">
    <%= render "commons/commonHeader" %>
    <section class="top-section">
      <div class="offset-borders">
            <div class="full-header-container" id="header-services">
                <div class="full-header">
                    <div class="container">
                      <% if flash[:success]  %>
                        <h1><%= flash[:success] %></h1>
                      <% end %>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>
