<div id="all">
  <%= render "commons/commonHeader" %>
        <section class="top-section">
        	<div class="offset-borders">
                <div class="full-header-container" id="header-services">
                    <div class="full-header">
                        <div class="container">
                            <h1>About Us</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="about-section">
        	<div class="section-content">
                <div class="container">
                    <header class="section-header">
                        <h1>About Chocoball Brigadeiro</h1>
                    </header>

                    <div class="row">
                    	<div class="col-md-6 onscroll-animate">
                        </div>
                        <div class="col-md-6 onscroll-animate" data-delay="400">
                        	<article>
                            	<div class="article-header-2">
                        			<h1>A little bit about us</h1>
                        		</div>

                            <% @views.each do |about| %>
                              <p> <%= about.content %> </p>
                            <% end %>

                            </article>

                            <div class="margin-20"></div>

                            <div class="row">
                            	<div class="col-xs-6">
                                	<div class="item-check">Unique flavor</div>
                               		<div class="item-check">TOP ingredients</div>
                                </div>
                                <div class="col-xs-6">
                                	<div class="item-check">Brazilian sweet</div>
                                	<div class="item-check">Made with love</div>
                                </div>
                            </div>
                            <div class="margin-70"></div>
                        </div>
                    </div>
              	</div>
          	</div>
      	</section>
  </div>
